@model IEnumerable<Team>

<a class="btn btn-block btn-sm btn-primary" asp-action="Index" asp-controller="Home" asp-route-teamID="">Home</a>

@foreach (var x in Model)
{
    <a class="btn btn-block btn-sm @(x.TeamName == ViewBag.SelectedTeamName ? "btn-warning" : "btn-primary")"
       asp-action="Index"
       asp-controller="Home"
       asp-route-teamID="@x.TeamId"
       asp-route-teamName="@x.TeamName">@x.TeamName
    </a>
}
